h1 {
    color: #FFFFFF;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: xx-large;
}

h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
}

p, li {
    color: #FFFFFF;
    text-align: justify;
    font-size: medium;
}

.terms-content {
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
}

.terms-section {
    background-color: var(--text-color);
}